*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900');

:root {
  --text-color: hsla(210, 50%, 85%, 1);
  --shadow-color: hsla(210, 40%, 52%, .4);
  --btn-color: hsl(210, 85%, 45%);
  --bg-color: #141218;
}



/* html, body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
} */

button {
  display: flex;

  position:relative;
  padding: 10px 18px;  
  border: none;
  background: none;
  cursor: pointer;
  font-family: "Source Code Pro";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 20px;  
  color: var(--text-color);
  letter-spacing: .2rem;
  background-color: var(--btn-color);
  box-shadow: var(--shadow-color) 1px 2px 22px;
  border-radius: 4px; 
  z-index: 0;  
  overflow: hidden;   
}

button:focus {
  outline-color: transparent;
  box-shadow: var(--btn-color) 2px 2px 22px;
}

.right::after, button::after {
  content: var(--content);
  display: block;
  position: absolute;
  white-space: nowrap;
  padding: 40px 40px;
  pointer-events:none;
}

button::after{
  font-weight: 200;
  top: -30px;
  left: -19.0012px;
  letter-spacing: .2rem;
} 

.right, .left {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.right {
  left: 66%;
}
.left {
  right: 66%;
}
.right::after {
  top: -30px;
  left: calc(-66% - 20px);
  
  background-color: var(--bg-color);
  color:transparent;
  transition: transform .4s ease-out;
  transform: translate(0, -90%) rotate(0deg)
}

button:hover .right::after {
  transform: translate(0, -47%) rotate(0deg)
}

button .right:hover::after {
  transform: translate(0, -50%) rotate(-7deg)
}

button .left:hover ~ .right::after {
  transform: translate(0, -50%) rotate(7deg)
}

/* bubbles */
button::before {
  content: '';
  pointer-events: none;
  opacity: .6;
  background:
    radial-gradient(circle at 20% 35%,  transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
    radial-gradient(circle at 75% 44%, transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
    radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, var(--text-color) 5px, var(--text-color) 6px, transparent 6px);

  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  position: absolute;
  animation: bubbles 5s linear infinite both;
}

@keyframes bubbles {
  from {
    transform: translate();
  }
  to {
    transform: translate(0, -66.666%);
  }
}

body{
    backdrop-filter:blur(10px);
    background:linear-gradient(220deg , rgb(1, 109, 139),rgb(0, 56, 96), rgb(10, 148, 100));
    background-repeat: no-repeat;
    height: auto;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.container{
    background: #06050093;
    color: rgb(193, 193, 193);
    font-size: larger;
    padding: 20px;
    border-radius: .3rem;
    width: 87%;
}

h1{
    font-size: 3rem;text-align: center;
    margin-bottom: 3rem;
    color: #ff8400    ;
}

.form-control{
    display: flex;
    justify-content: space-between;
    margin: 1.2rem;
    padding: .7rem 0;
    border-bottom: .2rem solid rgb(143, 88, 0);
}


.p-header{
    display: flex;
    justify-content: center;
}

.p-header input{
    width: 90%;
    height: 100%;
    padding: 14px;
    background-color: rgb(38, 49, 60);
    color: aliceblue;
    font-size: 1.2rem;
    font-weight: 100;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.p-header .copy,.form-control input[type=number]{
   padding: .4rem 5%;
   font-size: 1.2rem;
   /* background-color: red; */
}
.form-control input[type=checkbox]{
   background-color: red;
}

.p-header{
    position: relative;
}

.p-header  .r .copy{
display: flex;
position: absolute;
right: 5%;
bottom: 0;
padding: .3%;
justify-content:flex-end;
cursor: pointer;
}

.footer .container{
    position: absolute;
    background-color: rgb(0, 28, 19);
    left: 0;
    display:grid;
    gap: 2rem;
   text-align: center;
   width: 100%;
   margin-top: 3rem;
   color: rgba(74, 243, 252, 0.621);
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-transform: capitalize;
   font-size: .64rem;
}
.footer .text .features{
    color: rgb(67, 154, 230);
    font-family: monospace;
    text-align: start;
    font-size: .8rem;
    line-height: 1rem;
    
}

 .footer .container .text {
    color: aliceblue;
    text-align:justify;
    line-height:2rem;
    padding: 0 3rem;
    word-spacing:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

.footer i, .footer  a{
    color: rgb(255, 98, 14);
    margin-left: .5rem;
    text-decoration: none;

}

.footer .others{
    border-top: 1px solid rgb(106, 106, 124);
    padding-top:1rem;
}


.footer .title{
    text-decoration: underline;
}

@media (min-width:667px) {
 .container{
    width:40% ;
 }   
}