*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background:linear-gradient(220deg , rgb(1, 109, 139),rgb(0, 56, 96), rgb(10, 148, 100));
    background-repeat: no-repeat;
    height: auto;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.container{
    background: rgb(52, 1, 52);
    color: aliceblue;
    padding: 20px;
    border-radius: .3rem;
    width: 87%;
}

h1{
    font-size: 3rem;text-align: center;
    margin-bottom: 3rem;
}

.form-control{
    display: flex;
    justify-content: space-between;
    margin: 1.2rem;
    padding: .7rem 0;
    border-bottom: .2rem solid rgb(143, 88, 0);
}


.p-header{
    display: flex;
    justify-content: center;
}

.p-header input{
    width: 90%;
    height: 100%;
    padding: 14px;
    background-color: rgb(38, 49, 60);
    color: aliceblue;
    font-size: 1.2rem;
}

.p-header .copy,.form-control input[type=number]{
   padding: .4rem 5%;
   font-size: 1.2rem;
   /* background-color: red; */
}
.form-control input[type=checkbox]{
   background-color: red;
}

.p-header{
    position: relative;
}

.p-header  .r .copy{
display: flex;
position: absolute;
right: 5%;
bottom: 0;
padding: .3%;
justify-content:flex-end;
cursor: pointer;
}

.generate{
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
  width: 100%;
background-color: wheat;
font-size: 1.9rem;
font-family: fantasy;
color: rgb(8, 89, 62);
font-weight: 900;
}

.footer .container{
    position: absolute;
    background-color: rgb(0, 28, 19);
    left: 0;
    display:grid;
    gap: 2rem;
   text-align: center;
   width: 100%;
   margin-top: 3rem;
   color: rgba(74, 243, 252, 0.621);
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-transform: capitalize;
   font-size: .64rem;
}
.footer .text .features{
    color: rgb(67, 154, 230);
    font-family: monospace;
    text-align: start;
    font-size: .8rem;
    line-height: 1rem;
    
}

 .footer .container .text {
    color: aliceblue;
    text-align:justify;
    line-height:2rem;
    padding: 0 3rem;
    word-spacing:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

.footer i{
    color: rgb(255, 98, 14);
    margin-left: .5rem;
}

.footer .others{
    border-top: 1px solid rgb(106, 106, 124);
    padding-top:1rem;
}


.footer .title{
    text-decoration: underline;
}

@media (min-width:667px) {
 .container{
    width:40% ;
 }   
}